<section class="py-20 text-center mx-auto p-2 container relative">
  <h1 class="text-primary my-4 uppercase text-4xl font-bold md:text-5xl md:text-left z-10">nasze usługi</h1>
  <div class="pt-4">
    <hr class="text-gray-300">
    <div class="p-8 lg:flex lg:justify-between lg:items-center">
      <p class="uppercase pb-4 text-2xl lg:text-3xl lg:w-1/2 lg:pr-8">Budowanie planu finansowego</p>
      <p class="lg:w-3/4">Oferujemy dostęp do doświadczonych ekspertów, którzy pomogą Ci stworzyć kompleksowy plan finansowy, dostosowany do Twoich indywidualnych potrzeb i celów. Niezależnie od tego, czy planujesz inwestycje, oszczędności na emeryturę czy zarządzanie bieżącymi wydatkami, nasi specjaliści służą fachową pomocą.</p>
    </div>
  </div>
  <div class="pt-4">
    <hr class="text-gray-300">
    <div class="p-8 lg:flex lg:justify-between lg:items-center">
      <p class="uppercase pb-4 text-2xl lg:text-3xl lg:w-1/2 lg:pr-8">Doskonalenie procesów finansowych</p>
      <p class="lg:w-3/4">Analizujemy i usprawniamy istniejące procesy finansowe w Twojej organizacji. Dzięki temu zwiększamy efektywność operacyjną, redukujemy koszty i minimalizujemy ryzyko błędów, co przekłada się na lepsze wyniki finansowe.</p>
    </div>
  </div>
  <div class="pt-4">
    <hr class="text-gray-300">
    <div class="p-8 lg:flex lg:justify-between lg:items-center">
      <p class="uppercase pb-4 text-2xl lg:text-3xl lg:w-1/2 lg:pr-8">Strategia i operacje finansowe</p>
      <p class="lg:w-3/4">Nasi eksperci wspierają w opracowywaniu i wdrażaniu skutecznych strategii finansowych dla Twojego biznesu. Pomagamy w optymalizacji operacji finansowych, zarządzaniu ryzykiem oraz planowaniu podatkowym, aby zapewnić stabilność i rozwój Twojej firmy.</p>
    </div>
    <hr class="text-gray-300">
  </div>

</section>
