<section class="bg-dark-section text-white py-4 mx-auto">
  <div class="container px-3 mx-auto">
    <h1 class=" my-4 uppercase text-4xl font-bold md:text-5xl md:text-left z-10">Opinie ekspertów</h1>
    <div class="flex flex-wrap gap-6 justify-center mx-auto py-6">

      <!-- Opinia 1 -->
      <div class="w-full lg:w-[45%] p-6 border-2 border-gray-300 rounded-lg shadow-md transition duration-300 hover:border-primary">
        <div class="flex gap-4">
          <div>
            <img src="img/Rectangle 7.png" alt="" class="min-w-14 w-14 h-14">
          </div>
          <div class="flex-1">
            <div class="flex justify-between">
              <h3 class="text-xl font-semibold">Wioletta Piasecka</h3>
              <p class="text-yellow-500 text-2xl">⭐⭐⭐⭐⭐</p>
            </div>
            <p class="mt-2 font-extralight">Świetny ekspert! Profesjonalne podejście i jasne wyjaśnienia. Dzięki niemu zrozumiałam, jak lepiej zarządzać moimi finansami.</p>
            <p class="mt-2 font-semibold">Piotr</p>
          </div>
        </div>
      </div>

      <!-- Opinia 2 -->
      <div class="w-full lg:w-[45%] p-6 border-2 border-gray-300 rounded-lg shadow-md transition duration-300 hover:border-primary">
        <div class="flex gap-4">
          <div>
            <img src="img/Rectangle 7.png" alt="" class="min-w-14 w-14 h-14">
          </div>
          <div class="flex-1">
            <div class="flex justify-between">
              <h3 class="text-xl font-semibold">Piotr Nowak</h3>
              <p class="text-yellow-500 text-2xl">⭐⭐⭐⭐⭐</p>
            </div>
            <p class="mt-2 font-extralight">Bardzo pomocna konsultacja. iEkspert dokładnie przeanalizował moją sytuację i zaproponował optymalne rozwiązanie.</p>
            <p class="mt-2 font-semibold">Piotr</p>
          </div>
        </div>
      </div>

      <!-- Opinia 3 -->
      <div class="w-full lg:w-[45%] p-6 border-2 border-gray-300 rounded-lg shadow-md transition duration-300 hover:border-primary">
        <div class="flex gap-4">
          <div>
            <img src="img/Rectangle 7.png" alt="" class="min-w-14 w-14 h-14">
          </div>
          <div class="flex-1">
            <div class="flex justify-between">
              <h3 class="text-xl font-semibold">Anna Lewandowska</h3>
              <p class="text-yellow-500 text-2xl">⭐⭐⭐⭐⭐</p>
            </div>
            <p class="mt-2 font-extralight">Polecam każdemu, kto potrzebuje rzetelnej porady finansowej. Pełen profesjonalizm i ogromna wiedza.</p>
            <p class="mt-2 font-semibold">Michał</p>
          </div>
        </div>
      </div>

      <!-- Opinia 4 -->
      <div class="w-full lg:w-[45%] p-6 border-2 border-gray-300 rounded-lg shadow-md transition duration-300 hover:border-primary">
        <div class="flex gap-4">
          <div>
            <img src="img/Rectangle 7.png" alt="" class="min-w-14 w-14 h-14">
          </div>
          <div class="flex-1">
            <div class="flex justify-between">
              <h3 class="text-xl font-semibold">Michał Wójcik</h3>
              <p class="text-yellow-500 text-2xl">⭐⭐⭐⭐⭐</p>
            </div>
            <p class="mt-2 font-extralight">Dobry kontakt i fachowa pomoc. Dowiedziałem się, jak zoptymalizować moje podatki.</p>
            <p class="mt-2 font-semibold">Kacper</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
