<div
  class="flex justify-center items-center min-h-screen container mx-auto px-4"
>
  <div
    class="bg-white py-16 px-12 border border-dark-section w-full lg:max-w-1/2"
  >
    <h2 class="text-2xl lg:text-3xl text-center mb-6">Zarejestruj się</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-modal
        [message]="message()"
        [isError]="isError()"
        (close)="closeModal()"
        [visible]="visible"
      ></app-modal>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div>
          <app-input
            formControlName="firstName"
            [label]="'Imię'"
            [type]="'text'"
            [placeholder]="'Wprowadź imię'"
            [required]="true"
          ></app-input>

          @if(registerForm.get('firstName')?.touched &&
          registerForm.get('firstName')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wpisz poprawne imię</p>
          }
        </div>

        <div>
          <app-input
            formControlName="lastName"
            [label]="'Nazwisko'"
            [type]="'text'"
            [placeholder]="'Wprowadź nazwisko'"
            [required]="true"
          ></app-input>

          @if(registerForm.get('lastName')?.touched &&
          registerForm.get('lastName')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wpisz poprawne nazwisko</p>
          }
        </div>

        <div>
          <app-input
            formControlName="password"
            [label]="'Hasło'"
            [type]="'password'"
            [placeholder]="'Wprowadź hasło'"
            [required]="true"
          ></app-input>

          @if(registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź hasło</p>
          } @if(registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors?.['minlength']){
          <p class="text-red-500 text-sm">
            Hasło musi mieć przynajmniej 6 znaków
          </p>
          }
        </div>

        <div>
          <app-input
            formControlName="email"
            [label]="'Wpisz email'"
            [type]="'email'"
            [placeholder]="'Podaj email'"
            [required]="true"
          ></app-input>

          @if(registerForm.get('email')?.touched &&
          registerForm.get('email')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wproadz email</p>
          }
        </div>
      </div>
      <div class="my-4">
        <label for="photo" class="block text-sm font-medium text-gray-700 mb-2">
          Wybierz zdjęcie
        </label>
        <div
          class="relative w-full flex items-center justify-center border border-gray-300 rounded-lg p-4 bg-gray-50 hover:bg-gray-100 cursor-pointer"
        >
          <input
            formControlName="photo"
            type="file"
            id="photo"
            (change)="onFileChange($event)"
            accept="image/*"
            class="absolute inset-0 opacity-0 w-full h-full cursor-pointer"
          />
          @if(!selectedFile){
          <span class="text-gray-500">Kliknij, aby dodać zdjęcie</span>
          }@else {
          <span class="text-gray-700 font-medium">{{ selectedFile.name }}</span>
          }
        </div>
        @if(selectedFilePreview){
        <div class="mt-2 relative w-32 mx-auto">
          <img
            [src]="selectedFilePreview"
            alt="Podgląd zdjęcia"
            class="h-32 object-cover rounded-md shadow-md block w-full"
          />

          <button
            class="absolute top-2 right-2 bg-white text-red-500 p-2 rounded-full shadow-md transition-opacity opacity-70 hover:opacity-100 hover:bg-red-500 hover:text-white"
            (click)="removeFile()"
          >
            ✖
          </button>

          <p class="text-sm text-gray-700 mt-2 text-center">
            {{ selectedFile?.name }}
          </p>
        </div>
        }
      </div>
      <div class="my-4">
        <label for="role" class="block text-sm">Wybierz rolę</label>
        <select
          formControlName="role"
          id="role"
          class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
          required
        >
          <option value="ROLE_EXPERT">Ekspert</option>
          <option value="ROLE_CLIENT">Klient</option>
          <option value="ROLE_ADMIN">Administrator</option>
        </select>

        @if(registerForm.get('role')?.touched &&
        registerForm.get('role')?.errors?.['required']){
        <p class="text-red-500 text-sm">Wybierz rolę</p>
        }
      </div>

      @if(registerForm.get('role')?.value === 'ROLE_EXPERT'){
      <div>
        <div class="my-4">
          <textarea
            id="description"
            formControlName="description"
            rows="4"
            class="mt-1 p-2 w-full border-b focus:outline-none focus:border-b-2"
            placeholder="Wprowadz opis"
            required
          ></textarea>

          @if(registerForm.get('description')?.touched &&
          registerForm.get('description')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź opis</p>
          }
        </div>

        <div class="my-4">
          <app-input
            formControlName="experienceYears"
            [label]="'Lata doświadczenia'"
            [type]="'number'"
            [placeholder]="'Wprowadź lata doświadczenia'"
            [required]="true"
          ></app-input>
          @if(registerForm.get('experienceYears')?.touched &&
          registerForm.get('experienceYears')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź lata doświadczenia</p>
          }
        </div>

        <div class="my-4">
          <label for="specializations" class="block text-sm"
            >Wybierz specjalizacje</label
          >
          <select
            formControlName="specializations"
            id="specializations"
            class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
            multiple
            required
          >
            @for (specialization of specializationsList; track
            specialization.id) {

            <option [value]="specialization.id">
              {{ specialization.id }}. {{ specialization.name }}
            </option>
            }
          </select>

          @if(registerForm.get('specializations')?.touched &&
          registerForm.get('specializations')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wybierz specjalizacje</p>
          }
        </div>
        <div class="my-4">
          <label for="city" class="block text-sm">Miasto</label>
          <input
            id="city"
            formControlName="city"
            type="text"
            class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
          />

          @if(registerForm.get('city')?.touched &&
          registerForm.get('city')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź miasto</p>
          }
        </div>

        <div class="my-4">
          <label for="street" class="block text-sm">Ulica</label>
          <input
            id="street"
            formControlName="street"
            type="text"
            class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
          />

          @if (registerForm.get('street')?.touched &&
          registerForm.get('street')?.errors?.['required']) {
          <p class="text-red-500 text-sm">Wprowadź ulicę</p>
          }
        </div>

        <div class="my-4">
          <label for="clientTypes" class="block text-sm">Grupy klientów</label>
          <input
            id="clientTypes"
            formControlName="clientTypes"
            type="text"
            class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
          />

          @if(registerForm.get('clientTypes')?.touched &&
          registerForm.get('clientTypes')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź typy klientów</p>
          }
        </div>

        <div class="my-4">
          <label for="ageGroups" class="block text-sm">Age Groups</label>
          <input
            id="ageGroups"
            formControlName="ageGroups"
            type="text"
            class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
          />

          @if(registerForm.get('ageGroups')?.touched &&
          registerForm.get('ageGroups')?.errors?.['required']){
          <p class="text-red-500 text-sm">Wprowadź grupy wiekowe</p>
          }
        </div>

        <div formArrayName="services">
          @for (service of services.controls; track $index) {
          <div [formGroupName]="$index" class="my-4">
            <label for="serviceName{{ $index }}" class="block text-sm"
              >Nazwa usługi</label
            >
            <input
              id="serviceName{{ $index }}"
              formControlName="name"
              type="text"
              class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
            />

            @if(service.get('name')?.touched &&
            service.get('name')?.errors?.['required']){
            <p class="text-red-500 text-sm">Wprowadź nazwę usługi</p>
            }
            <label for="servicePrice{{ $index }}" class="block text-sm"
              >Cena usługi</label
            >
            <input
              id="servicePrice{{ $index }}"
              formControlName="price"
              type="number"
              class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
            />

            @if (service.get('price')?.touched &&
            service.get('price')?.errors?.['required']) {
            <p class="text-red-500 text-sm">Wprowadź cenę usługi</p>
            } @if (service.get('price')?.touched &&
            service.get('price')?.errors?.['min']) {
            <p class="text-red-500 text-sm">
              Cena musi być większa lub równa 0
            </p>
            }

            <button
              type="button"
              (click)="removeService($index)"
              class="text-red-500"
            >
              Usuń usługę
            </button>
          </div>
          }

          <button type="button" (click)="addService()" class="text-primary">
            Dodaj usługę
          </button>
        </div>
        <div formArrayName="workingHours" class="my-4">
          <h3 class="text-lg font-semibold mb-2">Godziny pracy</h3>
          @for(wh of workingHours.controls; track $index){
       
          
           
            <div
              
              [formGroupName]="$index"
              class="mb-4 border-b pb-2"
            >
              <label for="dayOfWeek{{ $index }}" class="block text-sm"
                >Day of Week</label
              >
              <input
                id="dayOfWeek{{ $index }}"
                formControlName="dayOfWeek"
                type="text"
                placeholder="e.g., MONDAY"
                class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
              />
              <label for="startHour{{ $index }}" class="block text-sm mt-2"
                >Start Time</label
              >
              <input
                id="startHour{{ $index }}"
                formControlName="startHour"
                type="time"
                class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
              />
              <label for="endHour{{ $index }}" class="block text-sm mt-2"
                >End Time</label
              >
              <input
                id="endHour{{ $index }}"
                formControlName="endHour"
                type="time"
                class="mt-1 block w-full py-2 px-3 border-b focus:outline-none focus:ring-primary focus:border-b-2"
              />
              <button
                type="button"
                (click)="removeWorkingHour($index)"
                class="text-red-500 mt-2"
              >
                Remove Working Hour
              </button>
            </div>
            
          

          }
          <button type="button" (click)="addWorkingHour()" class="text-primary">
            Dodaj godzinę pracy
          </button>
        </div>
      </div>
      }

      <div class="flex justify-between text-sm text-gray-600 my-4">
        <span></span>
        <a href="#" class="hover:underline focus:outline-none focus:underline">
          Masz już konto? <span class="text-orange-500">Zaloguj się!</span>
        </a>
      </div>
      <button
        type="submit"
        class="w-full py-2 transition duration-300 focus:outline-none hover:bg-primary hover:text-white cursor-pointer focus:bg-primary"
      >
        Zarejestruj się
      </button>
    </form>
  </div>
</div>
