::ng-deep .mat-datepicker-content {
  background-color: #f0f0f0; /* Jasnoszare tło */
}

::ng-deep .mat-calendar {
  background-color: #e3bb8a;
  color: white; /* Białe tło dla kalendarza */
}
/* W pliku profile.component.css */
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.line-through {
  text-decoration: line-through;
}