<header class="bg-dark-section pt-10 text-white  text-center mx-auto p-2  ">
 <div class="container lg:flex  lg:justify-center lg:items-center " >
   <div class="  mx-auto lg:w-1/2">
     <h1 class="font-bold uppercase  text-xl md:text-2xl lg:text-4xl md:text-left ">Znajdź najlepszego <span class="text-primary">eksperta finansowego</span> i umów spotkanie online</h1>
     <div class="mx-auto lg:flex lg:justify-evenly md:items-center gap-4 lg:mt-4 ">
       <app-button-primary [text]="'Wyszukaj Eksperta'" class="mx-2 " ></app-button-primary>
       <div class="flex justify-center items-center mt-2 gap-2 w-3/5">
         <img src="img/photos.png" alt="zdjęcie przedstawiające przykładowych ekspertów">
         <div><p class="font-light"><span class="font-bold">2000+</span> Ekspertów w Teamie</p></div>

       </div>

     </div>

     <div class="my-6 gap-2 lg:flex text-center w-full lg:justify-evenly lg:items-center ">
       <div class="w-full" >
         <p class="font-bold text-4xl md:text-6xl mb-2">5000+</p>
         <p>Zadowolonych klientów</p>
       </div>

       <div class="w-full my-4">
         <p class="font-bold text-3xl md:text-6xl mb-2">300+</p>
         <p>Umówionych spotkań</p>
       </div>
       <div class="w-full">
         <p class="font-bold text-3xl md:text-6xl mb-2">100%</p>
         <p>Zadowolonych klientów</p>
       </div>
     </div>
   </div>
   <div class="relative ">
     <img src="img/unsplash_WMD64tMfc4k.png" alt="Mężczyzna reprezentujący firmę " class="w-1/2 block z-20 mx-auto lg:w-full">
     <img src="img/Group 7.png" alt="" class="absolute top-0 z-0">
     <img src="img/Group 7.png" alt="" class="absolute right-0 top-32 z-0">

   </div>
 </div>
</header>
